body{
    font-family: 'Poppins', sans-serif;
    /* 
    font-family: 'Acme', sans-serif;
    font-family: 'Fredoka One', cursive;
     */
    background-image: url(https://images.unsplash.com/photo-1541664342457-74ef081fb818?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
      
}
.navtabs {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
}

.navtabs a {
    color: black;
    font-style: oblique;
    font-weight: bold;
}

.nav-pills>li>a.active {
    background-color: rgba(32, 87, 240, 0.8);
    border: none;
}

a.nav-link:hover {
    background-color: whitesmoke ;
}

a.nav-link {
    padding-left: 10%;
}
.myCards {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    width: 100%;
    height: 300px;
    border-radius: 3%;
}
.card-header {
    padding: 0;
}
.card {
    margin-bottom: 5%;
}
.modal-full {
    min-width: 80%;
    margin: 10%;
    margin-top: 4% ;
}
.modal-full .modal-content {
    min-height: 30vh;
}
.img-fluid {
    width: 450px ;
    height: 300px ;
}
.modal-footer input {
    padding: 0;
    margin: 0;
    width: 40% ;
}
.modal-footer {
    padding: 0;
    margin: 0;
    margin-left: 30% ;
}
label {
    padding: 0;
    margin: 0;
}
hr {
    border: 2px solid rgba(2, 27, 136, 0.8);
}
.myCardsSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modal-title {
    /* font-style: italic; */
    font-weight: bold;
}
.modalBody {
    font-weight: bold;
}
.category {
    padding-right: 10px;
}