
nav {
    box-shadow: 0 0 20px 0 rgb(95,216,247,0.8);
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
}